/* stylesheet.css */

/* ============================== CHESS ============================== */

.white-square {
    /* Bootstrap -light (~lightgray)*/
    background-color: white;
}

.black-square {
    /* Bootstrap -dark (~gray)*/
    background-color: grey;
}

.chess-moved {
    background-color: lightgreen;
}

.chess-passive-hover {
    /* Bootstrap -active??? */
    /*background-color: lightgray;*/
}

.chess-active-hover {
    /* Bootstrap -info (~teal) */
    background-color: lightcyan;
}

.chess-active {
    background-color: lightsteelblue;
}

.chess-legal {
    background-color: powderblue;
}

.chess-attacked {
    background-color: indianred;
}

.chess-legal-hover {
    background-color: seagreen;
}





